@font-face {
  font-family: 'Circular';
  src: url('./assets/fonts/CircularSpotifyText-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url('./assets/fonts/CircularSpotifyText-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url('./assets/fonts/CircularSpotifyText-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url('./assets/fonts/CircularSpotifyText-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Circular';
}

body {
  color: white;
  overflow: hidden;
  background: linear-gradient(
    to bottom right,
    rgb(3, 3, 79) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

img {
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
