@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Circular";
  src: url("./assets/fonts/CircularSpotifyText-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circular";
  src: url("./assets/fonts/CircularSpotifyText-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Circular";
  src: url("./assets/fonts/CircularSpotifyText-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Circular";
  src: url("./assets/fonts/CircularSpotifyText-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Circular";
}

@property --accent {
  syntax: "<color>";
  initial-value: #03034f;
  inherits: false;
}

body {
  color: white;
  overflow: hidden;
  background: linear-gradient(
    to bottom right,
    var(--accent) -20%,
    rgba(0, 0, 0, 1) 100%
  );
  transition: --accent 3s;
}

img {
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#scrollable::-webkit-scrollbar {
  display: none;
}

::selection {
  background: rgba(255, 255, 255, 0.15); /* White background with 50% opacity */
  color: #ffffff; /* White text color */
}
