@tailwind base;
@tailwind components;
@tailwind utilities;

/* setting up custom fonts */
@font-face {
  font-family: "Circular";
  src: url("./assets/fonts/CircularSpotifyText-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url("./assets/fonts/CircularSpotifyText-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url("./assets/fonts/CircularSpotifyText-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url("./assets/fonts/CircularSpotifyText-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

/* universal styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Circular";
}

/* setting up gradient color variable */
@property --accent {
  syntax: "<color>";
  initial-value: #03034f;
  inherits: false;
}

body {
  color: white;
  overflow: hidden;
  overscroll-behavior: none;
  background: linear-gradient(
    to bottom right,
    var(--accent) -20%,
    rgba(0, 0, 0, 1) 100%
  );
  background-repeat: no-repeat;
  transition: --accent 5s;
}

/* setting image as non-draggable */
img {
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* show no scrollbar */
#scrollable::-webkit-scrollbar {
  display: none;
}

/* setting text-selection color */
::selection {
  background: rgba(255, 255, 255, 0.15); /* White background with 50% opacity */
  color: #ffffff; /* White text color */
}

/* setting volume + seeker track */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
}

input[type="range"] {
  height: 0.375rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 0.375rem;
  width: 1rem;
  background-color: #fff;
  border-radius: 9999px;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: -407px 0 0 400px #fff;
}

input[type="range"] {
  overflow: hidden;
  border-radius: 16px;
}

/* setting song card animation */
.song-fade-in {
  animation: fade-in 1s ease-out both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* setting react-animation-group animators */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

#expandSongListButton {
  display: none;
}

/* Show the button when screen width is 768px or less (sm breakpoint) */
@media (max-width: 768px) {
  #expandSongListButton {
    display: inline-block; /* or block */
  }
}

/* No Frame Two for small and smaller sizes */
@media (max-width: 765px) {
  body {
    overflow: scroll;
    height: calc(100vh + 780px);
  }

  .songListHeader {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 638px) {
  .coverImg {
    height: calc(100vw - 2rem);
    width: 100vw;
    max-width: 60vw;
    max-height: 60vw;
  }
}
